.analog-clock {
    margin: 0 auto;
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    .inner-face, .outer-face {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .inner-face {
        z-index: 1;
        .minute-marker {
            $size: 120px;
            position: absolute;
            top: 50%;
            left: 50%;
            height: $size;
            margin-top: -($size);
            transform-origin: bottom;
            &:before, &:after {
                content: "";
                display: block;
                position: absolute;
                box-sizing: border-box;
            }
        }
        .minute-marker:before {
            top: 0;
            width: 2px;
            height: 7px;
            background: #000;
        }

        @for $i from 1 through 60 {
            .minute-marker:nth-child(#{$i}) {
                transform: rotate(6deg * $i);
            }
            .minute-marker:nth-child(#{$i*5}):before {
                width: 6px;
                height: 20px;
                margin-left: -2px;
                display: inline-block;
            }
        }
    }
    .outer-face {
        z-index: 2;
        .seconds {
            z-index: 5;
            background: red;
            width: 1.5%;
            height: 42%;
            position: absolute;
            left: 49.25%;
            top: 20%;
            -webkit-transform-origin: 50% 71%;
            transform-origin: 50% 71%;
            z-index: 8;
            &:before {
                background: red;
                border-radius: 50%;
                content: "";
                position: absolute;
                top: -9%;
                left: -200%;
                height: 18%;
                width: 500%;
            }
        }
        .minutes {
            z-index: 4;
            background: #000;
            width: 5%;
            height: 55%;
            position: absolute;
            left: 47.5%;
            top: 7%;
            -webkit-transform-origin: 50% 78.5%;
            transform-origin: 50% 78.5%;
        }
        .hours {
            z-index: 3;
            background: #000;
            width: 5%;
            height: 40%;
            position: absolute;
            left: 47.5%;
            top: 22%;
            -webkit-transform-origin: 50% 71%;
            transform-origin: 50% 71%;
        }
    }
}

.digital-clock {
    margin: 0 auto;
}
