#main-container {
    width: 1024px;
    margin: 0 auto;
}

.digital-container, .analog-container {
    width: 50%;
    display: inline-block;
    float: left;
    margin: 15px 0;
}

h1 {
    text-align: center;
    margin: 15px 0;
}
