h1 {
    font-family: 'Playfair Display', serif;
    text-align: center;
    margin: 15px 0;
}

#main-container {
    width: 1024px;
    margin: 0 auto;
}

#clocks {
    margin-top: 100px;
}

.digital-container, .analog-container {
    width: 50%;
    display: inline-block;
    float: left;
    margin: 15px 0;
}

.digital-container {
    text-align: center;
    margin-top: 100px;
}
